@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,300,200);

body {
  padding-top: 80px;
}

nav {
  text-align: center;
  font-size: 3em;  
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  color: black;
}

nav > a:link, nav > a:visited {
  color: black;
  text-decoration: none;
}

nav > a:hover, nav > a:active {
  text-decoration: none;
  color: #00b5f3;
}

.navbar-default {
  background-color: #FCFCFC;
}

.faq-highlight {
  text-align: center;
  padding: 10px;
}

.faq-highlight h4 {
  text-align: center;
  font-size: 1em;
}

.faq-highlight i {
  font-size: 6em;
  margin-bottom: 10px;
}

.checkout-steps {
  margin-bottom: 30px;
}

.checkout-steps .col-sm-2 {
  padding: 0px;
}

.checkout-steps .col-sm-3 {
  margin: 0px 50px;
}

.checkout-step {
  margin: 10px auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  /*background-color: #00b5f3;*/
  border: 4px solid #00b5f3;
}

.checkout-step h4 {
  position: absolute;
  font-weight: 800;
  color: #00b5f3;
  top: 6px;
  left: 10px;
}

.step-complete {
  border: 4px solid #00b5f3;
  background-color: #00b5f3;
  color: white;
}

.step-complete .fa-check, .step-complete .fa-pencil {
  position: absolute;
  top: 6px;
  left: 7.5px;
}

.checkout-step+h4 {
  text-align: center;
}

.container-fluid {
  margin-bottom: 30px;  
}

.faq {
  border-top: 1px solid lightgrey;
  padding-top: 10px;
}

h1 {
  text-align: center;
  letter-spacing: 1px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #555;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

h3 {
  text-align: left;
  letter-spacing: 0.8px;
  margin-top: 0px;
  margin-bottom: 15px;
  color: #555;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

h4 {
  text-align: left;
  letter-spacing: 0.8px;
  font-size: 0.8em;
  margin-top: 0px;
  margin-bottom: 5px;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.summary {
  background-color: #EEE;
  border-radius: 3px;
  margin: 0px 30px;
  padding: 20px 30px;
}

.summary h3 {
  text-align: center;
}

a {
  display: inline-block;
}

.assetImg {
  display: inline-block;
  width: 60px;
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
}

.itemInfo {
  display: inline-block;
  float: left;
  width: 70%;
}

.cart-items {
  margin-top: 20px;
}

.cart-single {
  margin-bottom: 15px;
  padding-left: 10px;
}

.total > p {
  letter-spacing: 0.8px;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;  
}

.total > p > span {
  letter-spacing: 0.8px;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;  
}

.form-control {
  background-color: #EEE;
  border: none;
  height: 35px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: black;
}

.btn-default {
  float: right;
  width: 160px;
  height: 45px;
  margin-top: 5px;
  margin-left: 10px;
  color: #00b5f3;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #00b5f3;
}

.btn-default:hover {
  background-color: white;
  color: white;
  border: 1px solid #00b5f3;
  font-weight: 800;
}

.btn-default:active {
  color: #00b5f3;
}

.addSubtract > .btn-default {
  position: relative;
  float: left;
  display: block;
  width: 5px;
  height: 25px;
  color: white;
  background-color: #00b5f3;
  border-radius: 50%;
  margin-left: 2px;
  border:none;
}

.addSubtract > .btn-default:first-child {
  margin-left: 15px;
}

.addSubtract > .hvr-radial-out:before {
  color: #00b5f3;
  background-color: white;
  border-radius: 50%;
}

.addSubtract > .btn-default:hover > i {
  color: #00b5f3;
  font-weight: 800;
}

.addSubtract > .btn-default:active {
  color: #00b5f3;
}

.addSubtract > .btn-default > i {
  position: absolute;
  top: 5.5px;
  left: 6.5px;
}

.fa {
  margin-right: 6px;
}

.clearfix {
  clear: both;
  margin-bottom: 20px;
}

.control-label {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;  
}

form > h3:first-child {
  margin-bottom: 20px;
}

.shipping-method {
  margin-top: 15px;
  margin-bottom: 30px;
  font-weight: 300;
  line-height: 1em;
  letter-spacing: 0.5px;
}

.shipping-option {
  padding: 0px;
}

input[type="radio"] {
  margin-right: 10px;
  margin-bottom: 5px;
  border: 1px solid #00b5f3;
}

.hvr-bounce-to-right:before {
  background-color: #00b5f3;
  border: 1px solid #00b5f3;
  border-radius: 3px;
}

.user-checkout-info .control-label {
  padding: 0px;
  margin: 0px;
  text-align: left; 
  display: inline-block;
}

.user-checkout-info .user-info-single {
  display: inline-block;
  margin-left: 5px;
  text-align: right;
  font-weight: 300;
}

.user-summary {
  padding: 0px;
}

.user-summary > h3, label > h3 {
  font-size: 1.2em;
  font-weight: 500;
  color: black;
}

.user-checkout-info {
  font-size: 0.8em;
}

.fa-hand-o-up {
  margin-left: 7px;
}

label > h3 {
  margin-top: 10px;
}

h3 > a, h3 > a:active, h3 > a:visited {
  color: #00b5f3;
  text-decoration: none;
}

h3 > a:hover {
  color: white;
  text-decoration: none;
}

.cc-form h3 {
  margin-top: 20px;
}

.order-summary {
  margin-bottom: 20px;
}

.order-summary h4 {
  margin-left: 15px;
}

h4 span {
  color: #00b5f3;
}

footer {
  background-color: black;
  padding: 10px;
  width: 100%;
  height: auto;
  color: white;
  text-align: left; 
}

footer h4 {
  color: lightgrey;
  text-align: left;
  font-size: .9em;
  margin-top: 5px;
}

footer a {
  display: block;
  margin-bottom: 0px;
}