<div class="container-fluid">
  <div class="col-sm-3">
    <h4>Company</h4>
    <a href="#">About Pebble</a>
    <a href="#">News and Press</a>
    <a href="#">Blog</a>
    <a href="#">Jobs</a>
  </div>
  <div class="col-sm-3">
    <h4>Developers</h4>
    <a href="#">Developer</a>
    <a href="#">Getting Started</a>
    <a href="#">Guides</a>
    <a href="#">Documentation</a>
    <a href="#">SDK</a>
    <a href="#">Developer Blog</a>
  </div>
  <div class="col-sm-3">
    <h4>Shop</h4>
    <a href="#">Retail Stores</a>
    <h4>Support</h4>
    <a href="#">Support</a>
    <a href="#">Contact Us</a>
  </div>
  <div class="col-sm-3">
    <h4>Legal</h4>
    <a href="#">EULA</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Cookie Policy</a>
    <a href="#">Terms of Use</a>
    <a href="#">Open Source</a>
    <a href="#">Warranty</a>
  </div>
</div>